[submodule "complete-alias"]
	path = complete-alias
	url = git@github.com:cykerway/complete-alias.git
[submodule "lldb-qt-formatters"]
	path = lldb-qt-formatters
	url = git@github.com:nouwaarom/lldb-qt-formatters.git
