[user]
	email = jacky.volpes@oslandia.com
	name = Jacky Volpes
[core]
	editor = lvim
[merge]
  conflictStyle = zdiff3
[init]
	defaultBranch = main
[commit]
	gpgsign = false
[pull]
	rebase = merges
[rerere]
  enabled = true
[diff]
  word-diff = plain
