[user]
	email = jacky.volpes@oslandia.com
	name = Jacky Volpes
[merge]
  conflictStyle = zdiff3
[init]
	defaultBranch = main
[commit]
	gpgsign = false
[pull]
	rebase = merges
[rerere]
  enabled = true
[diff]
  word-diff = plain
[diff-so-fancy]
  markEmptyLines = false
  stripLeadingSymbols = false
